---
# custom style
---

@import 'template';

.container{

    font-family: Arial, Helvetica, sans-serif;
    .content{
        max-width: 980px;
    }
    .menu-list{
        li{
            line-height: normal;
        }
    }
}

#header{
    background: transparent url('../images/top-bg.jpg') center top no-repeat;
    .content{
        position: relative;
        height: 450px;
    }
    .title{
        position: absolute;
        bottom: 0;
        margin: 20px;
        font-size: 20pt;
    }
}

#page{
    .content{
        padding: 20px;
    }
}

#footer{
    margin-top: 40px;
    .content{
        padding: 20px;
    }
}

#player-container{
    #player{
        display: block;
        max-width: 260px;
    }
    .display{
        display: block;
    }
    .controls{
        padding: 10px;
        margin: 0;
        .btn-action{
            background-color: black;
            border-radius: 5px;
            display: block;
            padding: 15px;
            cursor: pointer;
            .svg-img{
                width: 30px;
                height: 30px;
                fill: aliceblue;
            }
        }
    }
    .audio-list{
        li{
            border-top: 1px solid #4F4f4F;
            padding: 20px;
            a.jp-playlist-item{
                display: block;
            }
            a.jp-playlist-item-remove{
                display: none !important;
            }
        }
        li:first-child{
            border-top: none;
        }
    }
}