<div id="footer" class="container">
    <ul class="content">
        <div class="row">
            <div class="col-7">
                <ul class="list menu-list">
                    <li><a target="_blank" href="https://www.facebook.com/runashimipodcast">Facebook</a></li>
                    <li><a target="_blank" href="https://www.ivoox.com/podcast-runashimi-podcast_sq_f11796080_1.html">Ivoox</a></li>
                    <li><a target="_blank" href="https://www.youtube.com/@runashimimedia3706">Youtube</a></li>
                </ul>
            </div>
            <div class="col-5"></div>
        </div>
        <br>
        <hr>
        <div class="row">
            <sub>Runcast arte y cultura</sub>
        </div>
    </ul>
</div>